<div class="page-content">
  <div class="container-fluid container-fh">
    <div class="container-fh__content p-wrong">
      <img src="/blockexplorer/static/resources/img/wrong.png" alt="" class="p-wrong__image" />
      <strong
        ><div style="text-decoration: underline" class="p-wrong__message">
          <%=data.hash%>
        </div></strong
      >
      <div class="p-wrong__message">Hash does not exist.</div>
      <div class="error404-a__link-wrap">
        <a href="/blockexplorer/" class="btn btn-info btn-lg btn-rounded error404-a__link">Go to Index</a>
      </div>
    </div>
  </div>
</div>
